.card {
    text-align: Center;
}

.searchBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3 {
    text-align: center;
}

.col-sm {
    border-style: solid;
    margin: 5px;
}